@use '../variables' as var;

.coin {
  &-section {
    background-image: var.$bg_gradient;
    height: 100%;
    flex-grow: 1;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &__content {
    display: flex;
    gap: 2rem;
    max-width: 82rem;
    height: 100%;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-family: var.$titlefont;
  }

  &__overview {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-right: 2px solid #f3f2f4;

    img {
      height: 13rem;
    }
  }

  &__details {
    width: 70%;
  }

  &__data {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    height: 20rem;
    margin-top: 2rem;
    overflow-y: auto;
    text-align: left;
    width: 100%;
  }
}