@use '../variables' as var;

.why {
  &-section {
    padding: 6.25rem;
    min-height: 90vh;
  }

  &__content {
    display: flex;
    font-family: var.$textfont;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 83rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
  }

  &__title {
    font-size: 4.375rem;
    margin-bottom: 5rem;

    span {
      color: transparent;
      background-clip: text;
      background-image: var.$gradient;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }

  &__cards-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  &__middle-container {
    display: flex;
    img {
      width: 85%;
      margin: auto;
    }
  }
}