@use 'variables' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var.$textfont;
  color: white;
  background-color: var.$bgcolor;
  --green: #0ECB81;
  --red: #FF0000;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

Outlet {
  flex-grow: 1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #006DF0 #ffffff;
}

*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: hsl(213, 100%, 32%);
  border: 1px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #006DF0;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #006DF0;
}
